$color1:#fff;
$color2:#ff284f;
$color3:#fea130;
$box-shadow:0 0 5px rgb(0,0,0,0.2);
$btn-padding:8px 13px;
$radius1:3px;
$btn-radius:60px;
$bold:bold;
$heading-color:blueviolet;
$padding1:10px;

.icon{
  color: $color3;
}
.banner-bg{
  background:rgb(243, 243, 243);
  height: 80vh;
   clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.footer-container{
  background-color: rgb(48, 46, 46);
  color:$color1;
}
.about{
  margin-top: 100px;
}
.custom-title{
  color: $color2;
}
.custom-btn{
  border: none;
  padding: $btn-padding;
  background-color: $color3;
  color:$color1;
  border-radius: $btn-radius;
  font-weight:$bold;
}
.blog-card{
  display: flex;
  align-items: center;
  box-shadow: $box-shadow;
  border-radius: $radius1;
  padding:$padding1;
}
.blgo-content{
  line-height: 2px;
  margin-left: 25px;
}
.card img{
  width: 100%;
  height: 160px;
  border-radius: 5px 5px 0 0;
}
.course-content{
  line-height: 3px;
  padding: 5px;
  z-index: 9999;
}
.card{
  display: inline-block;
  background-color: $color1;
  position: relative;
  box-shadow: 5px 5px 10px rgb(0,0,0,0.1), -5px -5px 10px rgb(0,0,0,0.1) ;
}

.card:after
   {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    background-color: skyblue;
    top: 0px;
    left: 0px;
    border-bottom: 20px solid darken($color1, 5%);
    border-right: 20px solid darken($color1, 5%);
    border-left: 20px solid #fff;
    border-top: 20px solid #fff;
    position: absolute;
    filter: drop-shadow(-5px 5px 3px rgba(0,0,0,0.5));
    border-radius: 5px 0 0 0;
   }
    .card:before{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 40px solid darken($color1, 5%);
    border-left: 40px solid darken($color1, 5%);
    border-right: 40px solid #fff;
    border-bottom: 40px solid #fff;
    bottom: 0px;
    right: 0px;
    position: absolute;
    filter: drop-shadow(7px -7px 5px rgba(0,0,0,0.5));
    margin-left: 10%;
    border-radius:  0 0 5px 0;
  }

.login-container{
    box-shadow: 0 0 5px rgb(0,0,0,0.4);
    text-align: center;
}
.icon-content{
    width: 100%;
    border: 1px solid rgb(189, 185, 185);
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    background:#fff;
}

.banking{
  box-shadow: $box-shadow;
  padding: 15px 20px;
  border-radius: $radius1;
}

.bank-btn{
  border: none;
  display: inline-block;
  padding: $btn-padding;
  background-color: $color2;
  color: $color1;
  border-radius:3px;
  margin-top: 20px;
  position: relative;
  z-index: 9999;
}
.bank-btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: $color3;
   border-radius:3px;
   transition: 0.4s;
    z-index: -9999;
}
.bank-btn:hover.bank-btn::before{
  width: 100%;
}